/* Liberation Serif */
@font-face {
  font-family: 'Liberation Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/liberation-serif-400.woff2') format('woff2');
}
@font-face {
  font-family: 'Liberation Serif';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/liberation-serif-700.woff2') format('woff2');
}

/* Liberation Sans */
@font-face {
  font-family: 'Liberation Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/liberation-sans-400.woff2') format('woff2');
}
@font-face {
  font-family: 'Liberation Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/liberation-sans-700.woff2') format('woff2');
}

/* DejaVu Serif */
@font-face {
  font-family: 'DejaVu Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/dejavu-serif-400.woff2') format('woff2');
}
@font-face {
  font-family: 'DejaVu Serif';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/dejavu-serif-700.woff2') format('woff2');
}

/* Ubuntu */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/ubuntu-400.woff2') format('woff2');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/ubuntu-700.woff2') format('woff2');
}

/* Noto Serif */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/noto-serif-400.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/noto-serif-700.woff2') format('woff2');
}

/* Noto Sans */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/noto-sans-400.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/noto-sans-700.woff2') format('woff2');
}

/* Roboto */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/roboto-400.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/roboto-700.woff2') format('woff2');
}

/* DejaVu Sans */
@font-face {
  font-family: 'DejaVu Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/dejavu-sans-400.woff2') format('woff2');
}
@font-face {
  font-family: 'DejaVu Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/dejavu-sans-700.woff2') format('woff2');
}
